

#b_back{
    background-color: #787e7dc0;
}

.green{
    color:#45b39d;
    padding-bottom: 8px;
}
.pad{
    padding-bottom: 50px;
}

#box2{
    position: relative;
    margin-top: 40px;
    margin-right: 430px;
    background-color: white;
    height: 100%;
    
    
}
#box3{
    background-color: white;
    margin-top: 40px;
    height: 80%;
    width: 110%;   
}
#box4{
    background-color: white;
    margin-top: 10px;
    height: 100%;
    width: 110%;
}
#box5{
    background-color: white;
    margin-top: 40px;

}
#box6{
    position: relative;
    margin-top: 40px;
    margin-right: 430px;
    background-color: white;
    height: 100%;
    
    
}
#box7{
    background-color: white;
    margin-top: 40px;
    height: 60%;
    width: 110%;   
}
.img-thumbnail{
    padding-right:30px;
    border: none;
}
.pic{
    padding-right:30px;
    border: none;
}
.para{
    margin-left: 15px;
}
.pos-f-t{
    visibility:hidden;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
@media (max-width: 600px) {
      .navbar-expand-lg{
          visibility: hidden;
          display:none;
      }
      .pos-f-t{
        visibility:visible;
        margin-top: -41px;
    }
    button{
        margin-top: 800px;
    }
}